@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
/*/*1. Index page (/) that renders text: `Welcome to the Modern Phone database in Razor Pages` in H1 tag and 
top 3 latest added or modified phones with all info (all fields' data) in a HTML table element. 
Each property is in its own table cell. The table must contain a header row with the property names on columns.
 The `Id` property is in the first column.*/
 string greet = "Welcome to the Modern Phone database in Razor Pages";
}

<div class="text-center">
    <h1 class="display-4">@greet</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone[0].Make)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone[0].Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone[0].RAM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone[0].PublishDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone[0].Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone[0].Modified)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Phone)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@Html.DisplayFor(modelItem => item.Make)</td>
                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                    <td>@Html.DisplayFor(modelItem => item.RAM)</td>
                    <td>@Html.DisplayFor(modelItem => item.PublishDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                    <td>@Html.DisplayFor(modelItem => item.Modified)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
